<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'ListaProductos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'ListaClientes' %}">Clientes</a>
        <a class="navbar-brand" href="{% url 'ListaEmpleados' %}">Empleados</a>
        <a class="btn btn-primary" href="#signup">Ingresar</a>
    </div>
</nav>