<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'Productos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'Clientes' %}">Clientes</a>
        <a class="navbar-brand" href="{% url 'Empleados' %}">Empleados</a>
        <a class="btn btn-primary" href="#signup">Ingresar</a>
    </div>
</nav>