<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'ListaProductos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'ListaClientes' %}">Clientes</a>
        <a class="navbar-brand" href="{% url 'ListaEmpleados' %}">Empleados</a>
        
        {% if user.is_authenticated %}
            <p>Bienvenido {{user.username}}</p>
            <form method="post" action="{% url 'Logout' %}">
                {% csrf_token %} <button type="submit">Logout</button>
            </form>
        {% else %}
             <a class="btn btn-primary" href="{% url 'Login' %}">Ingresar</a>
        {% endif %}
               
    </div>
</nav>


